.auth-page {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;

  background-image: url('./../assets/auth_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;

  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: overlay;
}

.auth-blur-effect {
  min-width: 100vw;
  min-height: 100vh;
  backdrop-filter: blur(10px);
}

.auth-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  width: 409px;
  height: 382px;
  background-color: #fff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  padding: 32px;
}

.auth__text {
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.666%;
  text-align: center;
}

.auth__form__section {
  position: relative;
}
.auth__form__section:not(:last-child) {
  margin-bottom: 24px;
}

.auth__form__section:last-child {
  margin-bottom: 32px;
}

.auth__form__section__label {
  display: flex;
  margin-bottom: 7px;

  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.auth__form__section__input {
  width: 345px;
  height: 50px;
  padding: 15px;

  background: #ffffff;
  border: 1px solid #c9cacc;
  border-radius: 4px;

  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
}

.auth__form__section__error {
  position: absolute;
  top: 80px;

  font-size: 12px;
  line-height: 14px;
}

.error {
  color: #eb1717;
}
.none {
  display: none;
}

.btn-size-for-form-entry {
  padding: 15px 149.5px;
}
