.main {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #e5e5e5;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 32px;
}

.header__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.content {
  width: 1024px;
  margin: 0 auto;
  padding-bottom: 30px;

  display: grid;
  grid-template-columns: 360px 1fr;
  grid-template-rows: 410px auto;
  column-gap: 24px;
  grid-template-areas: 'filters hotels' 'favorites hotels';
}

.favorites {
  grid-area: favorites;
  padding: 32px 16px 32px 32px;

  background-color: #fff;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}
.favorites__list {
  max-height: 288px;
  overflow: scroll;
  padding-right: 16px;
}
.favorites__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 32px;
}
.favorites__selects {
  display: flex;
  column-gap: 8px;
  margin-bottom: 16px;
}
.favorites__selects__item {
  width: 89px;
}

.hotels {
  grid-area: hotels;
  background-color: #fff;
  padding: 48px 32px;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.hotels__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 28px;
}
.hotels__header__left {
  display: flex;
  align-items: center;
}
.hotels__header__text {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.hotels__header__arrow {
  margin: 0 20px;
}
.hotels__header__date {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

.hotels__carousel {
  margin-bottom: 28px;
}

.hotels__text {
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.408px;
}
.hotels__text span {
  font-weight: 500;
  color: #41522e;
}

.hotels__list {
  max-height: 529px;
  width: 600px;
  padding-right: 14px;
  overflow: scroll;
}

.star {
  margin-right: 3px;
}

.favorites__selects__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12.5px 4px 8px;

  border: 1px solid #e5e5e5;
  border-radius: 4px;
}
.favorites__selects__text {
  margin-right: 9px;

  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.408px;
  color: #99a0a3;
}
.favorites__selects__container {
  display: flex;
  flex-direction: column;
}

.sel-active-text {
  color: #41522e;
}

.sel-active-btn {
  border-color: #41522e;
}

.header__logout-btn {
  display: flex;
  align-items: flex;
  column-gap: 15px;
}

.svg-heart:hover path {
  fill: #ebebeb;
}
