.filters {
  grid-area: filters;

  border-radius: 16px;
  padding: 32px;
  margin-bottom: 24px;

  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.filters__section {
}

.filters__section__label {
  display: block;
  margin-bottom: 7px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.filters__section__input {
  width: 296px;
  height: 50px;
  margin-bottom: 16px;
  padding: 15px;

  background: #ffffff;
  border: 1px solid #c9cacc;
  border-radius: 4px;

  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
}

.input-number::-webkit-inner-spin-button,
.no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.filters__section__btn_size {
  padding: 15px 125px;
}
